/*
typefaces
*/

@font-face {
  font-family: PPMonumentExtendedBlack;
  src: url(typefaces/PPMonumentExtended-Black.otf);
}

#landing-title {
  font-family: PPMonumentExtendedBlack;
  font-size: 24px;
}

@font-face {
  font-family: PPPangramSansSemibold;
  src: url(typefaces/PPPangramSans-Semibold.otf);
}


@font-face {
  font-family: PPPangramSansMedium;
  src: url(typefaces/PPPangramSans-Medium.otf);
}


.body-text {
  font-family: PPPangramSansMedium;
  color: white;
  font-size: 16px;
}

.body-header-text {
  /* font-family: PPPangramSansSemibold; */
  color: white;
  font-size: 32px;
}

body,
html {
  margin: 0;
  padding: 0;
}

.nav-list {
  padding: 0
}

.nav-bar {
  font-family: PPPangramSansSemibold;
  top: 0;
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  left: 50%;
  margin-left: -339.025px;
  margin-top: 22px;
}

s */ nav {
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

nav ul {
  display: flex;
  list-style: none;
  font-size: 16px;
}

#nav-home-item {
  padding-right: 260px;
}

#nav-about-item {
  padding-left: 260px;
  padding-right: 17.5px;
}

#nav-contact-item {
  padding-left: 17.5px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

.centered-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.centered-container-landing-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;

}


#landing-title-container-text {
  opacity: 0;
  margin-right: 10%;
}

#landing-title-container-arrow {
  opacity: 0;
  margin-left: 10%;
}

main {
  max-width: 524.55px;
  margin: 120px auto;
  padding: 20px;
}

body {
  background-color: black;
}

h1 {
  color: white;
}

#home-container {
  position: relative;
}

#visualizer-canvas {
  position: absolute;
  top: 0;
  left: 0;
}

#email-link {
  text-decoration: underline;
  color: white;
}
