/*
Typefaces
*/

@font-face {
  font-family: PPMonumentExtendedBlack;
  src: url(typefaces/PPMonumentExtended-Black.otf);
}

#landing-title {
  font-family: PPMonumentExtendedBlack;
  font-size: 24px;
}

@font-face {
  font-family: PPPangramSansSemibold;
  src: url(typefaces/PPPangramSans-Semibold.otf);
}


@font-face {
  font-family: PPPangramSansMedium;
  src: url(typefaces/PPPangramSans-Medium.otf);
}

@media only screen and (min-width: 350px) {
  main {
    max-width: 324.36px;
    margin: 120px auto;
    padding: 20px;
  }

  /* CSS styles for mobile devices */
  .body-text {
    font-size: 30px;
  }

  .nav-list {
    padding: 0
  }

  .nav-bar {
    font-family: PPPangramSansSemibold;
    top: 0;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    left: 50%;
    margin-left: -172.18px;
    margin-top: 22px;
  }

  nav {
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 10px;
  }

  nav ul {
    display: flex;
    list-style: none;
    font-size: 16px;
  }

  #nav-home-item {
    padding-right: 130px;
  }

  #nav-about-item {
    padding-left: 130px;
  }

  #nav-contact-item {
    padding-left: 17.5px;
  }

  nav ul li a {
    color: #fff;
    text-decoration: none;
  }

  /*
  About Page
  */
  .body-text {
    font-family: PPPangramSansMedium;
    color: white;
    font-size: 16px;
  }

  .body-header-text {
    color: white;
    font-size: 20px;
  }

  .bottom-text {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    color: white;
    width: 664.38px;
    left: 50%;
    margin-left: -162.18px;
    font-family: PPPangramSansMedium;
    font-size: 14px;
    margin-bottom: 22px;
  }
}


@media only screen and (min-width: 596px) {

  main {
    max-width: 524.55px;
    margin: 120px auto;
    padding: 20px;
  }

  /* CSS styles for mobile devices */
  .body-text {
    font-size: 30px;
  }

  .nav-list {
    padding: 0
  }

  .nav-bar {
    font-family: PPPangramSansSemibold;
    top: 0;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    left: 50%;
    margin-left: -272.18px;
    margin-top: 22px;
  }

  nav {
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 10px;
  }

  nav ul {
    display: flex;
    list-style: none;
    font-size: 16px;
  }

  #nav-home-item {
    padding-right: 230px;
  }

  #nav-about-item {
    padding-left: 230px;
  }

  #nav-contact-item {
    padding-left: 17.5px;
  }

  nav ul li a {
    color: #fff;
    text-decoration: none;
  }

  /*
  About Page
  */
  .body-text {
    font-family: PPPangramSansMedium;
    color: white;
    font-size: 16px;
  }

  .body-header-text {
    color: white;
    font-size: 24px;
  }

  .bottom-text {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    color: white;
    width: 664.38px;
    left: 50%;
    margin-left: -262.18px;
    font-family: PPPangramSansMedium;
    font-size: 14px;
    margin-bottom: 22px;
  }
}

@media only screen and (min-width: 700px) {
  main {
    max-width: 524.55px;
    margin: 120px auto;
    padding: 20px;
  }

  .nav-list {
    padding: 0
  }

  .nav-bar {
    font-family: PPPangramSansSemibold;
    top: 0;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    left: 50%;
    margin-left: -332.18px;
    margin-top: 22px;
  }

  nav {
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 10px;
  }

  nav ul {
    display: flex;
    list-style: none;
    font-size: 16px;
  }

  #nav-home-item {
    padding-right: 300px;
  }

  #nav-about-item {
    padding-left: 300px;
  }

  #nav-contact-item {
    padding-left: 17.5px;
  }

  nav ul li a {
    color: #fff;
    text-decoration: none;
  }


  /*
About Page
*/
  .body-text {
    font-family: PPPangramSansMedium;
    color: white;
    font-size: 16px;
  }

  .body-header-text {
    color: white;
    font-size: 32px;
  }

  .bottom-text {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    color: white;
    width: 664.38px;
    left: 50%;
    margin-left: -322.18px;
    font-family: PPPangramSansMedium;
    font-size: 14px;
    margin-bottom: 22px;
  }
}


body,
html {
  margin: 0;
  padding: 0;
}

/*
Home
*/
.centered-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


body {
  background-color: black;
}

h1 {
  color: white;
}

#home-container {
  position: relative;
}

#visualizer-canvas {
  position: absolute;
  top: 0;
  left: 0;
}

.table-container {
  width: 100%;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border: 1px solid #fff;
  padding: 8px;
  text-align: left;
}

.table-note {
  font-family: PPPangramSansSemibold;
}

.body-header-text:not(:first-child) {
  padding-top: 30px;
}

a[href="https://github.com/jacquelinegli/synesthesia-audio-visualizer"] {
  color: pink;
}

a[href="https://jacquelineli.com"] {
  color: pink;
}
